<!-- ko with: home -->
<div class="jumbotron">
    <h1>RM Demo</h1>
    <p class="lead">Demoapp för att visa RM.</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Stad</h2>
        <p>Data från service</p>
        <p data-bind="text: myHometown"></p>
    </div>

    <div class="col-md-4">
        <h2>Datum</h2>
        <p>
            2015-12-22
        </p>
        <p>fixa</p>
    </div>

    <div class="col-md-4">
        <h2>Tid</h2>
        <p>11:33</p>
    </div>
</div>

<!-- /ko -->
